<section>
    <mat-toolbar class="content-toolbar" color="primary">{{'contact' | translate}}</mat-toolbar>
    
    <div class="section-container">
        <p>
            <div class="contact-icon-container"></div>
            <div class="contact-text"></div>
        <p>
        <p>
            <div class="contact-icon-container"></div>
            <div class="contact-text"></div>
        <p>
        <p>
            <div class="contact-icon-container"></div>
            <div class="contact-text"></div>
        <p>
    </div>

</section>