<section class="contact-section full-height">
    <mat-toolbar class="content-toolbar" color="primary">{{'contact' | translate}}</mat-toolbar>
    
    <div class="section-container">
        <div>
            <a mat-mini-fab>
                <mat-icon>mail</mat-icon>
            </a>
            <a class="contact-text"></a>
        </div>
        <div>
            <a mat-mini-fab>
                <mat-icon svgIcon="github"></mat-icon>
            </a>
            <a class="contact-text"></a>
        </div>
        <div>
            <a mat-mini-fab>
                <mat-icon svgIcon="linkedin"></mat-icon>
            </a>
            <a class="contact-text"></a>
        </div>
    </div>

</section>