@use '@angular/material' as mat;
.education-section{
    .card-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
    
        .mat-card{
            padding: 20px;
            margin-bottom: 40px;
            
            @media screen and (min-width: 680px){
                width: 600px;
                margin: 0 auto 40px auto;
            }
    
            .mat-card-title{
                text-transform: uppercase;
                margin-bottom: 24px;
                font-size: 24px;
                font-weight: 300;
            }
    
            .mat-card-subtitle{
                font-size: 16px;
                font-weight: normal;
            }
    
            .mat-card-content li{
                font-size: 14px;
                font-weight: normal;
                line-height: 200%;
                margin-left: 20px;
                list-style-type: disc;
            }
        }    
    }
}

@mixin education-widget($primary, $accent){
    $primary-color: mat.get-color-from-palette($primary, 500);
    $accent-color: mat.get-color-from-palette($accent, 500);

    .education-section{
        .mat-card-title{
            color: $primary-color;
        }
    
        .mat-card-subtitle{
            color: $accent-color;
        }
    }
}