.mat-toolbar-single-row.content-toolbar{
    height: 108px;
    font-size: 2.92rem;
    line-height: 3.212rem;
    margin: 1.46rem 0 1.168rem 0;
    font-weight: 200;
    margin-bottom: 60px;
    margin-top: 0;
    padding: 30px 40px;
    text-transform: uppercase;
}

.theme-picker .mat-menu-content:not(:empty) {
    padding: 8px;
}