.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.sidenav-content{
  overflow: hidden;
}

.sidenav-content.handset{
  padding-top: 64px;
}

.toolbar{
  position: absolute;
  top: 0;
  height: 64px;
  width: 100%;
}
