<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <app-menu [links]="headings" [isHandset]="isHandset$| async"></app-menu>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content" [ngClass]="{'handset': (isHandset$ | async)}">
    <app-toolbar class="toolbar" 
        *ngIf="(isHandset$ | async)" 
        (sidenavToggled)="drawer.toggle()"></app-toolbar>
    <!-- Add Content Here -->
    <app-content></app-content>
  </mat-sidenav-content>
</mat-sidenav-container>
