@use '@angular/material' as mat;
@import '@angular/material/theming';
@import './component-theme';
@import './color-palette';

@include mat.core();

$primary: mat.define-palette($green-palette);
$accent: mat.define-palette($brown-palette);
$warn: mat.define-palette(mat.$red-palette);
$theme: mat.define-light-theme($primary, $accent, $warn);

@include mat.all-component-themes($theme);
@include component-theme($green-palette, $black-palette);
@include card-theme($primary, $accent, mat.$grey-palette, mat.$light-theme-background-palette);
@include text-theme($green-palette, $brown-palette);

.dark-theme {
    color: $light-primary-text;
    $dark-primary: mat.define-palette($black-palette);    
    $dark-accent: mat.define-palette(mat.$light-blue-palette, A400, A100, A700);
    $dark-warn: mat.define-palette(mat.$red-palette);
    $dark-theme: mat.define-dark-theme($dark-primary, $dark-accent, $dark-warn);

    @include mat.all-component-themes($dark-theme);
    @include component-theme($green-palette, $black-palette);
    @include card-theme($dark-accent, mat.$grey-palette, mat.$grey-palette, mat.$dark-theme-background-palette);
    @include text-theme($dark-primary, $dark-accent);
}